<article class="post-row">
    <time class="post-row__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "2006.01.02" -}}
    </time>

    <div class="post-row__body">
        <h2 class="post-row__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

        {{ with .Params.description }}
            <p class="post-row__summary">{{ . }}</p>
        {{ end }}

        <p class="post-row__meta">
            {{ range first 1 (.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
            {{ if .Params.readingTime | default .Site.Params.article.readingTime }}
                <span>{{ T "article.readingTime" .ReadingTime }}</span>
            {{ end }}
        </p>
    </div>
</article>
