{{- $page := .Page -}}
{{- $categorySlugs := .CategorySlugs | default (slice) -}}
<article
    class="post-row"
    data-post-entry
    data-post-categories="{{ delimit $categorySlugs " " }}">
    <time class="post-row__date" datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- $page.Date.Format "2006.01.02" -}}
    </time>

    <div class="post-row__body">
        <h3 class="post-row__title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h3>

        {{ with $page.Params.description }}
            <p class="post-row__summary">{{ . }}</p>
        {{ end }}

        <p class="post-row__meta">
            {{ range first 1 ($page.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
            {{ if $page.Params.readingTime | default $page.Site.Params.article.readingTime }}
                <span>{{ T "article.readingTime" $page.ReadingTime }}</span>
            {{ end }}
        </p>
    </div>
</article>
